
body{
    background-color: #b4ffba;
    width: 100%;
    height: 100%;
}
header{
    display:flex;
}

p {
    margin-left: 8px;
}

.headerDiv {
    width:100%;
    display:inline-block;
    vertical-align: middle;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    display:inline;
    width:100%
}

.navLinks {
    display:flex;
    justify-content: center;
    background-color: #ffc107;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    width: 20%;
}

.searchDiv {
    text-align: center;
    width: 100%;
}

.searchBar {
    width:30%;
    font-size: 14px;
}

.searchBtn {
    font-size: 14px;
    display:inline-block;
}

footer{
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.container{
    text-align: center;
}

h2{
    text-decoration:underline;
    text-align: center;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

/* .smallLogo{
    width: 200px;
    height: 200px;
} */
.contact{
    border: 2px solid #ffc107;
    border-radius: 12px;
    margin-top: 5px;
}

a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
    float: left;
    list-style-type: none;
}

.image-container{
    text-align: center;
    padding-bottom: 30%;
}

.link {
    text-decoration:none;
    background-color: transparent;
    color: black;
}

.backBtn {
    width: 73px;
    text-align:center;
    margin-left:-8px;
    margin-top: 5px;
}

.deleteBtn {
    margin-top: 5px;
}

.signupLink {
    text-decoration: none;
    background-color: transparent;
    width:75px;
    color: black;
}
.loginButton {
    width: 100px;
}

.create_contacts{
    padding: auto;
    font-size: 20px;
    margin: 5px;
}

.authenticationLabel {
    margin-left: 5px;
}

.error {
    margin-top: 15px;
}