body{
    background-color: #b4ffba;
    margin:0 auto;
    padding: 10px;
    text-align: center;
}
header{
    display:flex;
}
footer{
    justify-content: center;
}
.container{
    margin-left: auto;
    margin-top: 10%;
}
.smallLogo{
    width: 100px;
    height: 100px;
}
.contact{
    border: 2px solid burlywood;
}
img.logo {
    width: 40%;
}
