<!DOCTYPE html>
<html>
  <head>
    <title>Flask-MongoDB Example App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
      <header>
         <div class="headerDiv">
          <nav class="headerNav">
            <img src="{{ url_for('static', filename='images/phonebook.png') }}">
            <a class="navLinks" href="{{ url_for('create')}}">Home</a>
            <a class="navLinks" href="{{ url_for('contacts_list')}}">My contacts</a>
            <a class="navLinks" href="{{ url_for('search')}}">Search</a>
            <a class="navLinks" href="{{ url_for('favorites')}}">My favorites</a>
            <a class="navLinks" href="{{ url_for('home')}}">Sign out</a>
          </nav>
         </div>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <br>
      <footer>
          Copyrights reserved by Team 17
      </footer>
  </body>
</html>
