
{% extends 'base.html' %}
{% block container %}
<form method="POST" action="{{ url_for('delete', mongoid=mongoid)}}" id="contactForm">
    <h1>Delete this contact?</h1>
    {% for doc in doc %}
        <article class="contact">
            <p>Name: {{doc.name}}</p>
            <p>State: {{doc.state}}</p>
            <p>Phone number: {{doc.number}}</p>
            <p>Remarks:{{doc.remarks}}</p>
        </article>
    {%endfor%}
    <button type="submit" class="deleteBtn btn btn-warning">Delete</button>
</form>
<a class="link" href="{{ url_for('contacts_list')}}"><button type="button" class="backBtn btn btn-warning">Back</button></a>
{% endblock %}