{% extends 'base.html' %}
{% block container %}
<h2>My Favorites</h1>
{% if count == 0 %}
<h3>You currently have no favorites.</h3>
{% endif %}
{% for doc in docs %}
<article class="contact">
    <a class="link" href="{{ url_for('edit',mongoid=doc._id)}}"><button class="btn btn-warning">Edit</button></a> <a class="link" href="{{ url_for('delete',mongoid=doc._id)}}"><button class="btn btn-warning">Delete</button></a>
    <br>
    <br>
    <br>
    <p style="margin-top:-15px;">Name: {{doc.name}}</p>
    <p>State: {{doc.state}}</p>
    <p>Phone number: {{doc.number}}</p>
    <p>Remarks:{{doc.remarks}}</p>
</article>
{% endfor %}
{% endblock %}